* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

 :root {
    --primary: #161616;
    --secondary: #00ffff;
    --later: #ffffff;
    --ternary: #89898989;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--primary);
    height: 655px;
    width: 100%;
    position: relative;
}

.container {
    max-width: 1152px;
    padding: 0px 15px;
    margin: 0px auto;
    background: var(--primary);
    top: 0px;
}

header nav .left {
    display: flex;
    align-items: center;
}

header nav .left a {
    text-decoration: none;
    color: var(--later);
    margin: 1rem;
    text-transform: uppercase;
    transition: all .3s ease;
    font-weight: bold;
}

header nav .left a:hover {
    color: var(--secondary);
}

header nav {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .left .branding {
    margin-right: 3rem 0;
}

.btn {
    padding: 0.5rem 1.7rem;
    font-size: 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    background: var(--secondary);
    color: var(--primary);
}

.btn:hover {
    background: transparent;
    border-color: var(--secondary);
    color: var(--secondary);
}

.main {
    max-height: 520px;
    display: flex;
}

.dp {
    max-width: 40%;
}

.main img {
    height: 450px;
    margin: 2rem 10rem;
    border-radius: 200px;
    border: 3px solid var(--secondary);
}

.main img:hover {
    border: 3px solid var(--secondary);
    box-shadow: 0px 0px 10px 5px var(--secondary);
}

.content {
    height: 358px;
    margin: 91px 20px;
    align-items: center;
    justify-content: space-between;
}

.content h5 {
    color: var(--later);
    margin: 10px 0px;
    align-items: center;
    font-size: 1.5em;
    font-family: 'cambria', Tahoma, Geneva, Verdana, sans-serif;
}

.content h1 {
    color: var(--later);
    align-items: center;
    margin: 10px 0px;
    font-size: 2.5rem;
    color: var(--secondary);
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s ease;
    border-right: 4px var(--secondary) solid;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    animation: 5s steps(14) 0s infinite normal none running skillmotionwd;
}

@keyframes skillmotionwd {
    0% {
        width: 1ch;
    }
    100% {
        width: 14ch;
    }
}

.content p {
    color: var(--later);
    justify-content: left;
    margin-right: 40px;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
}

.box1 {
    max-height: 450px;
    margin: auto 0px;
}

.about {
    height: 660px;
    display: flex;
}

.dpimg {
    max-width: 50%;
    height: 660px;
    margin: auto 0px;
    justify-content: center;
    padding: auto 0px;
    background: #00ffff;
}

.about img {
    height: 300px;
    width: 430px;
    margin-top: 12rem;
    margin-left: 10rem;
    margin-right: 1rem;
    border-radius: 5px;
}

.about .info {
    justify-content: center;
    align-items: center;
    background: rgb(248, 248, 247);
    width: 100%;
}

.about p {
    width: 490px;
    margin: 30px 20px;
    font-size: 1.3rem;
    justify-content: center;
}

.info h1 {
    margin-top: 90px;
    margin-left: 42px;
    margin-bottom: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.info h1 hr {
    max-width: 650px;
    color: var(--secondary);
}

.skill {
    height: 330px;
    max-width: 100%;
    background: var(--primary);
}

.skill .head {
    justify-content: center;
    align-items: center;
    height: 100px;
}

.skill .head h1 {
    color: var(--secondary);
    max-height: 20px;
    max-width: 117px;
    margin: auto auto;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.lang {
    max-height: 330px;
    width: 100%;
    align-items: center;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 120px;
    height: 120px;
    border: 2px solid var(--primary);
    margin: 53px 20px;
}

.box:hover {
    border-radius: 50px;
    cursor: pointer;
}

#box1 img {
    height: 90px;
    width: 90px;
    margin-top: 10px;
    margin-left: 7px;
}

#box2 img {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-left: 7px;
}

#box3 img {
    height: 80px;
    width: 80px;
    margin-top: 21px;
    margin-left: 17px;
}

#box4 img {
    height: 80px;
    width: 80px;
    margin-top: 21px;
    margin-left: 17px;
}

#box5 img {
    height: 80px;
    width: 80px;
    margin-top: 21px;
    margin-left: 17px;
}

#box6 img {
    height: 80px;
    width: 80px;
    margin-top: 21px;
    margin-left: 17px;
}

.contact {
    height: 330px;
    display: flex;
}

.cleft {
    width: 30%;
    background: rgb(248, 248, 247);
}

.cright {
    width: 40%;
    background: var(--secondary)
}

.cleft img {
    width: 160px;
    height: 160px;
    margin: 90px 110px;
}

.cright .head2 {
    height: 60px;
}

.head2 h3 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 1.5rem;
}

h3 hr {
    width: 400px;
    color: white;
}

.links a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.5rem;
    margin: 30px 0px;
    font-weight: 400;
}

.links {
    margin: 0px 50px;
}

.pic img {
    max-width: 100%;
    height: 330px;
}